{
  "rabbitmq": {
    "uri": "rabbitmq://$rabbitMqServerAddress",
    "username": "$rabbitMqUsername",
    "password": "$rabbitMqPassword",
    "retryLimit": 12,
    "delayInSecondsBetweenRetries": 10
  }
}