{
  "rabbitmq": {
    "uri": "rabbitmq://cqrs-nu-tutorial_rabbitmq_1",
    "username": "guest",
    "password": "$rabbitMqPassword"
  },
  "connectionString": "Server=waiter-write-db-server;Database=CQRSTutorial.Cafe.Waiter.WriteModel;User Id=CommandService;Password=$writeModelPassword;"
}
