{
  "rabbitmq": {
    "uri": "rabbitmq://cqrs-nu-tutorial_rabbitmq_1",
    "username": "guest",
    "password": "$rabbitMqPassword"
  },
  "connectionString": "Server=cqrs-nu-tutorial_waiter-write-db-server_1;Database=Cafe.Waiter.WriteModel;User Id=CommandService;Password=$commandServicePassword;"
}
