{
  "BatchSize": 10,
  "QueueName": "cafe.waiter.command.service",
  "rabbitmq": {
    "uri": "rabbitmq://$rabbitMqServerAddress",
    "username": "$rabbitMqUsername",
    "password": "$rabbitMqPassword",
    "retryLimit": 12,
    "delayInSecondsBetweenRetries": 10
  },
  "connectionString": "Server=$writeModelSqlServerAddress;Database=Cafe.Waiter.WriteModel;User Id=CommandService;Password=$commandServicePassword;"
}