{
  "connectionString": "Server=$readModelSqlServerAddress;Database=Cafe.Waiter.ReadModel;User Id=EventProjectingService;Password=$eventProjectingServicePassword;",
  "cafe": {
    "waiter": {
      "web": {
        "url": "$waiterWebsiteUrl"
      }
    }
  }
}