{
  "rabbitmq": {
    "uri": "rabbitmq://cqrs-nu-tutorial_rabbitmq_1",
    "username": "$rabbitMqUserName",
    "password": "$rabbitMqPassword"
  },
  "connectionString": "Server=waiter-read-db-server;Database=CQRSTutorial.Cafe.Waiter.ReadModel;User Id=$readModelUserName;Password=$readModelPassword;"
}