@{
    ViewBag.Title = "CQRS Tutorial - List of Open Tabs";
}

<div ng-controller="TabController">
    <div class="jumbotron">
        <h3>List of Open Tabs</h3>
    </div>
    <table class="table">
        <thead>
            <tr>
                <td>Table Number</td>
                <td>Waiter</td>
                <td>Status</td>
                <td></td>
            </tr>
        </thead>
        <tr ng-repeat="tab in tabs">
            <td>{{tab.tableNumber}}</td>
            <td>{{tab.waiter}}</td>
            <td>{{tab.status.description}}</td>
            <td><a href="/tab/details?tabId={{tab.id}}"><span class="glyphicon glyphicon-pencil"></span></a></td>
        </tr>
    </table>
</div>