@model IEnumerable<Cafe.Waiter.DAL.OpenTab>
@{
    ViewBag.Title = "CQRS Tutorial - List of Open Tabs";
}

<div class="jumbotron">
    <h1>List of Open Tabs</h1>
</div>
<table>
    <thead>
    <tr>
        <td>Id</td>
        <td>Waiter</td>
        <td>TableNumber</td>
    </tr>
    </thead>
    @foreach (var openTab in Model)
    {
        <tr>
            <td>@openTab.Id</td>
            <td>@openTab.Waiter</td>
            <td>@openTab.TableNumber</td>
        </tr>
    }
</table>