{
  "rabbitmq": {
    "uri": "rabbitmq://cqrs-nu-tutorial_rabbitmq_1",
    "username": "guest",
    "password": "$rabbitMqPassword"
  },
  "connectionString": "Server=waiter-read-db-server;Database=CQRSTutorial.Cafe.Waiter.ReadModel;User Id=EventProjectingService;Password=$eventProjectingServicePassword;"
}